In [1]:
import dataruns
from dataruns.core.pipeline import *
from dataruns.core.transforms import *
from dataruns.source.datasource import *

In [2]:
data = CSVSource("data.csv").extract_data()
data.head()

       name price quantity
0     Phone   100        1
1    Laptop  1000        3
2     Cable    10        5
3     Mouse    50        5
4  Keyboard    75        5

In [3]:
def add(x):
    return x + 1

def power(x):
    return x ** 2

In [4]:
data["quantity"] = data["quantity"].to_numpy('int32')
data["quantity"]

0    1
1    3
2    5
3    5
4    5
Name: quantity, dtype: int32

In [5]:
listed = Function([add, power])
pipe = Pipeline(add, power, listed)
pipe

Pipeline(
    Function[add]
    Function[power]
    Function[add, power]
)

In [8]:
type(listed), type(pipe), listed

(dataruns.core.types.Function,
 dataruns.core.pipeline.Pipeline,
 Function[add, power])

In [9]:
data["quantity"] = pipe(data["quantity"])

In [10]:
data["quantity"]

0      16
1     256
2    1296
3    1296
4    1296
Name: quantity, dtype: int32

In [11]:
data["price"] = data["price"].to_numpy('int32')

In [12]:
data["price"]

0     100
1    1000
2      10
3      50
4      75
Name: price, dtype: int32

In [13]:
data["price"] = pipe(data["price"])
data["price"]

0     104060401
1   -1016343263
2         14641
3       6765201
4      33362176
Name: price, dtype: int32

In [14]:
pipe

Pipeline(
    Function[add]
    Function[power]
    Function[add, power]
)